<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
<section id="Product-Post">

        <h1>Ecommerce <i class="fas fa-cart-plus"></i></h1>

        
<!-- create product -->
        <form action="/products/create" id="new-product-form" method="POST">



            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" id="productName" aria-describedby="product" placeholder="Enter Product Name" name="productName">
   
              </div>
              <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="number" class="form-control" id="Quantity" placeholder="Quantity" name="qtyPerUnit">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="Price" >Price</label>

                <input type="number" class="form-control" id="Price" name="unitPrice">
              </div>

              <div class="form-check">
                <label class="form-check-label" for="Stock">Stock</label>

                <input type="number" class="form-control" id="Stock" name="unitInStock">
              </div>




              <label class="form-check-label" >Category</label>

              <select class="form-control" aria-label="Default select example" name="categoryName">
                <option value="watch">Watch</option>
                <option value="MObile">Mobile</option>
              </select>
          
              <label class="form-check-label" >Product Discontinued</label>


              <select class="form-control" aria-label="Default select example" name="discontinued">
                <option value="false">False</option>
                <option value="true">True</option>
               
    
              </select>


              <button type="submit" value="Post" class="btn btn-primary">Submit</button>

        </form>



        </section>

        <!-- display product -->

        <div id="product-list-container">

        <h1>Product List</h1>
          <ul>

            <% for(let product of products){ %>

        
             
              <li>

               
<div>
  <h5>Product Name:</h5>
                <%= product.productName %>
</div>

<div>                
  <h5>Product Quantity:</h5>
  <%= product.qtyPerUnit %>
</div>
<div>   
  <h5>Product Price:</h5>

  <%= product.unitPrice %>
</div>
<div>     
  <h5>Product Stock:</h5>

  <%= product.unitInStock %>
</div>

<div>   
  <h5>Product Status:</h5>

  <%= product.discontinued %>
</div>

<div>
  &nbsp;            


     <a href="/products/delete/<%=product.id %>"><i class="fas fa-trash-alt"></i></a>

</div>

&nbsp;            
&nbsp;            

&nbsp;            
                </li>


            
            <%}%>

          </ul>
</div>






